/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

::-webkit-scrollbar {
  display: none;
}

:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  /* heading */
  --ifm-h4-font-size: 1.2rem;
  /* table */
  --ifm-table-cell-padding: 3px 12px;
  /* inline code & color */
  --ifm-code-font-size: 80%;
  /* --ifm-code-background: none; */
  --ifm-code-border-radius: 1px;
  --ifm-code-padding-horizontal: 2px;
  --ifm-code-padding-vertical: 0px;
  /* navigation left border */
  --ifm-toc-border-color: none;
}

/* code highlight */
.docusaurus-highlight-code-line {
  background-color: rgb(68, 94, 66);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

table {
  display: table;
}

table tr:nth-child(2n) {
  background: none;
}

.main-wrapper .hero {
  background-color: inherit;
}

img {
  border-radius: 8px;
}