name: "publish stable"

on: [workflow_dispatch]
  # schedule: 
  #   - cron:  '* * 1,15 * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.1
      with:
          submodules: recursive
    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: '12'
    - name: Install yarn
      run: curl -o- -L https://yarnpkg.com/install.sh | bash
    - name: Install dependencies
      run: yarn install
    - name: Publish
      run: |
        printf "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> ~/.npmrc
        yarn publish:stable