name: windows

on: [push]

jobs:
  node:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x]
    services:
      mongodb:
        image: mongo
        ports:
          - 27017:27017
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install yarn
      run: curl -o- -L https://yarnpkg.com/install.sh | bash
    - name: Install dependencies
      run: yarn install
    - name: Run tests 
      run: yarn test
      env: 
        CI: true